body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #222;
  color: white;
  padding: 20px;
}

section {
  margin: 20px;
}

footer {
  background: #eee;
  padding: 10px;
}

